// fonts
$font: "Play";
$font-family: $font, sans-serif;

// color
$white: #fff;
$melrose: #b4a9ff;
$medium-purple: #8577e1;
$blue-marguerite: #6a5dc2;
$link-water: #D6D2F1;
$heliotrope: #dc5dfc;
$bittersweet: #ff7575;
$thunderbird: #c82020;
$forest-green: #308e21;
$pirate-gold: #a59400;
$white-op-2: rgba(255, 255, 255, 0.25);
$white-op-3: rgba(255, 255, 255, 0.33);
$white-op-5: rgba(255, 255, 255, 0.50);
$white-op-7: rgba(255, 255, 255, 0.70);
$white-op-8: rgba(255, 255, 255, 0.80);
$gray-op-5: rgba(10, 11, 11, 0.50);
$black: #0a0b0b;
$black-dark: #000;
$black-op-5: rgba(0, 0, 0, 0.50);
$black-op-4: rgba(0, 0, 0, 0.40);
$boulder: #777;
$cape-cod: #393b3c;
$mine-shaft: #3C3C3C;
$dove-gray: #616161;
$transparent: rgba(0, 0, 0, 0);

// font-size
$small-sm: 14px;
$small: 18px;
$normal: 24px;
$large: 40px;
$big: 48px;

$mobail-small: 14px;
$mobail-normal: 18px;
$mobail-big: 24px;